#addTaskMenu{
    width: 347.592px;
    height: 460px;
    flex-shrink: 0;
background-image: url('../images/底框.svg');
background-repeat: no-repeat;
}

#taskName{
    width: 220.522px;
    height: 47.285px;
    flex-shrink: 0;
    border:none;
    background-color: transparent;
    margin-top:69px;
    margin-left: 61px;
    outline:none;
    font-size: 34px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: auto;
}

#taskName::placeholder{
    color: #B95906;
font-family: "PingFang SC";
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: 41px;
}
#taskDescription{
    width: 245px;
height: 130px;
flex-shrink: 0;
margin-top:25px;
margin-left: 51px;
background-color: transparent;
border: none;
outline:none;
font-size: 20px;
word-wrap: break-word;
word-break: break-all;

}
#taskDescription::placeholder{
    color: #C86D01;
font-family: "PingFang SC";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
#Rectangle{
    width: 294px;
height: 3px;
font-weight: 700;
color:rgba(185, 89, 6, 0.72);
margin-left: 26px;
margin-top: -12px;
}
#setTaskCycle{
    width: 183.109px;
    height: 29px;
    flex-shrink: 0;
    position: relative;
}
#isTaskCycle{
    background-image: url('../images/是否循环.svg');
    width: 183.109px;
    height: 23px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-left: 51px;
    border: none;
    position: absolute;

}
#TaskCycle{
    background-image: url('../images/Vector 48.svg');
    position:absolute;
    margin-top: 13px;
    margin-left: 51px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background-color: transparent;
    border:none;
    background-repeat: no-repeat;
}
#addTaskButton{
    width: 58px;
    height: 57px;
    background-image: url('../images/Frame 42.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 36px;
    margin-left: 231px;
}

