.SignUp{
    width: 390px;
height: 700px;
flex-shrink: 0;
border-radius: 51px 51px 0px 0px;
background: #FFF;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
}
#Welcome{
    color: #000;
font-family: "Abhaya Libre ExtraBold";
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: -465px;
margin-left: 10px;
position: absolute;
height: 79px;
}
.InputInfo{
    width: 350px;
    height: 352px;
    margin-top: 26px;
    margin-bottom: 20px;
    margin-left: 10px;
    position: absolute;
}
input{
    width: 293px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 33px;
border: 2px solid #D1D1D1;
background: #FFF;
padding-left:30px;
}

#SendCodeBtn{
    width: 100px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 211px;
    font-size: 14px;
    margin-top: 216px;
    position: absolute;
     
}
/* #email{
    margin-left: 22px;
    margin-bottom: 19px;
}
#password{
    margin-left: 22px;
    margin-top: -10px;
} */
p{
    margin-left: 44px;
    width: 301px;
    height: 5px;
    color:red;
    font-size: 12px;
    font-style: normal;
    margin-top:0px;
    margin-bottom: 17px;
}

/* .rememberLabel{
    color:#000;
    margin-top: 400px;
    position:absolute;
} */
/* .isRemember{
    width: 50px;
    height: 18px;
    display:flex;
    justify-content: flex-start;
    margin-top:427px;
    margin-left: -236px;
} */
#RememberLabel{
    color:#000;
    /* margin-top: 400px; */
    /* padding-left:0px; */
display:inline-block;
/* justify-self: flex-end; */

}
#Remember{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    /* margin-left: -115px; */
    /* margin-top: 3px; */
    position:absolute;
    display:inline-block;
}
#SignUpBtn{
    width: 293px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 33px;
border: 2px solid #FFBB8E;
background: #FFBB8E;
margin-top: 360px;
margin-left: 10px;
}
#toRegister{
color: #FFBB8E;
font-family: "Abhaya Libre ExtraBold";
font-size: 10px;
font-style: normal;
font-weight: 800;
line-height: normal;
}