.modify-password{
    background-image: url('../../images/setting背景.png');
    width: 390px;
    height: 833px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    position: relative;
}
.modifyBack{
    position: absolute;
    background-image: url("../../images/Component 6.svg");
    top: 10px;
    left: 10px;
    width: 49px;
    height: 49px;
    flex-shrink: 0;
}
.ModifyInput{
    width: 293px;
height: 56px;
flex-shrink: 0;
border-radius: 33px;
border: 2px solid #D1D1D1;
background: #FFF;
margin-bottom: 23px;
}

.modifyBtn{
    width: 191px;
height: 51px;
flex-shrink: 0;
border-radius: 26px;
border: 2px solid #FFBB8E;
background: #FFBB8E;
}