#Finish-record-container {
    width: 390px;
height: 844px;
flex-shrink: 0;
background-image: url('../../images/背景垫图.png');
}
#vertical-line {
    width: 13px;
height: 770px;
flex-shrink: 0;
background-image: url('../../images/Rectangle 96.svg');
position:absolute;
top:23px;
left:240px;
}